:root {
    --icon: 40px;
}

html, body {
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    height: 100%;
}

.cur {
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    border-right: 2px solid var(--main-color);
}

.cur:has(.end) {
    grid-template-rows: 1fr;
}

.cur .list-item-lib, .done .list-item-lib {
    height: auto;
}

.cur .list-item-lib img, .done .list-item-lib img {
    max-height: calc(50vh - 80px);
    max-width: calc(50vw - 80px);
}

.cur .end {
    width: var(--icon);
    background-image: url(../assets/reply-arrow-icon.svg);
}

.done {
    grid-row: 1;
    grid-column: 2;

    display: grid;
    gap: var(--space);
    grid-auto-rows: min-content;
    justify-content: center;
    justify-items: center;

    contain: size;
    overflow-y: auto;
}

.done .dummy {
    margin-top: calc(var(--space) * -1);
}