:root {
    --list-item-width: 80vw;
    --list-item-height: 50vh;
    --arrows: 40px;
    --check: clamp(40px, 4.9vh, 100px);
    --gap: var(--space);
}

body {
    font-size: var(--fs);
}

.sort-game {
    display: grid;
    gap: var(--gap);
    grid-template-columns: min-content var(--arrows);
}

.list-item-lib {
    justify-self: start;
}

.list-item-lib:not(:nth-last-child(1 of .list-item-lib)) .text-container {
    padding-bottom: calc(var(--space) * 2 + var(--border-width));
}

.list-item-lib:not(:nth-last-child(1 of .list-item-lib))::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: var(--border-width) solid var(--main-color);
    margin-top: var(--gap);
}

.list-item-lib img {
    display: block;
    max-height: var(--list-item-height);
    max-width: var(--list-item-width);
    border: var(--border-width) solid transparent;
}

.arrows {
    display: flex;
    gap: var(--space-sm);
    flex-direction: column;
    justify-content: center;
}

.arrows .up {
    background-image: url(../assets/arrow-top-icon.svg);
}

.arrows .down {
    background-image: url(../assets/arrow-bottom-icon.svg);
}

.check, .back {
    position: fixed;
    bottom: var(--space);
    right: var(--space);
    width: var(--check);
}

.check {
    background-image: url(../assets/audit-report-survey-icon.svg);
}

.back {
    background-image: url(../assets/reply-arrow-icon.svg);
}