:root {
    --main-color: hsla(0, 0%, 80%, 1);
    --disabled-bg: hsla(0, 0%, 90%, 1);
    --bg: white;

    --space-sm: 4px;
    --space: 8px;
    --space-bg: 16px;
    --space-lg: 24px;

    --fs: clamp(20px, 1.6vh, 40px);
    --fs-mobile: 16px;

    --border-width: 2px;
}

* {
    box-sizing: border-box;
    font-size: inherit;
}

button {
    background-color: white;
}

select {
    border-radius: 0;
}

button:disabled, select:disabled {
    background-color: var(--disabled-bg);
}

button:not(:disabled) {
    cursor: pointer;
}

html,
body {
    margin: 0;
}

body {
    padding: var(--space-bg);
    font-size: var(--fs);
}

.cursor-p:not([disabled]) {
    cursor: pointer;
}

.interactive, .icon {
    background-color: white;
    border: var(--border-width) solid var(--main-color);
}

.icon {
    display: inline-block;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    
}

.list-item-lib {
    height: 100%;
    position: relative;
}

.list-item-lib img {
    border: var(--border-width) solid transparent;
}

.list-item-lib .text-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--space);

    display: flex;
    justify-content: center;
}

.list-item-lib .text-container.text-only {
    position: static;
}

.list-item-lib .text-container .text {
    text-align: center;
    border: var(--border-width) solid transparent;
    border-radius: var(--space-sm);
    padding: 0 var(--space-sm);
    --color: black;
    background-color: contrast-color(var(--color));
}

.list-item-lib .green-border {
    border-color: green !important;
}

.list-item-lib .red-border {
    border-color: red !important;
}

@media (hover: hover) {
    .grey-hover:not([disabled]):hover {
        background-color: var(--main-color);
    }
}

@media (max-width: 600px) {
    body {
        padding: var(--space);
        font-size: var(--fs-mobile);
    }
}