html,
body {
    margin: 0;
    height: 100%;
}

body {
    padding: 16px;
    font-size: 20px;
}

button {
    all: unset;
}

button:not([disabled]) {
    cursor: pointer;
}

*, button {
    box-sizing: border-box;
    background-color: white;
}

button:disabled, select:disabled {
    background-color: #bbb;
}

.cursor-p:not([disabled="true"]) {
    cursor: pointer;
}

#container {
    height: 100%;

    display: grid;
    grid-template-rows: 1fr min-content;
}

.top-buttons {
    border-top: 6px solid #ccc;
    padding-top: 12px;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.top-buttons .first,
.top-buttons .second {
    display: flex;
    gap: 5px;
}

input[type="file"] {
    display: none;
}

.top-buttons .add,
.top-buttons .save,
label[for="select-zip"],
.li-container .select-pic {
    display: inline-block;
    height: 40px;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    border: 2px solid #ccc;
}

label[for="select-zip"] {
    background-image: url(./assets/zip-file-icon.svg);
}

.top-buttons .add {
    background-image: url(./assets/plus-icon.svg);
}

.top-buttons .save {
    background-image: url(./assets/download-icon.svg);
}

.list-container {
    display: grid;
    grid-auto-rows: min-content;
    gap: 10px;
    align-self: start;

    height: 100%;
    contain: size;
    padding-bottom: 12px;
    overflow-y: auto;
}

.li-container {
    display: grid;
    grid-template-columns: auto 10fr auto auto;
    gap: 10px;
}

.li-container .select-pic {
    height: 82px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.li-container .select-pic:not(:has(img)) {
    background-image: url(./assets/image-file-icon.svg);
}

.li-container .select-pic img {
    width: 100%;
    max-height: 100%;
}

.li-container .text {
    font-size: inherit;
    padding: 12px;
}

.li-container .select-group {
    display: grid;
    gap: 2px;
    grid-template-rows: 1fr 1fr;
}

.li-container .select-group select {
    font-size: inherit;
}

.li-container .arrow-group {
    width: 26px;

    display: grid;
    gap: 1px;
    align-content: space-between;
    grid-template-rows: 1fr 1fr 1fr;
}

.li-container .arrow-group .up,
.li-container .arrow-group .down,
.li-container .arrow-group .delete {
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    border: 2px solid #ccc;
}

.li-container .arrow-group .up {
    background-image: url(./assets/arrow-top-icon.svg);
    align-self: start;
}

.li-container .arrow-group .down {
    background-image: url(./assets/arrow-bottom-icon.svg);
    align-self: end;
}

.li-container .arrow-group .delete {
    background-image: url(./assets/recycle-bin-line-icon.svg);
    align-self: center;

}

@media (hover: hover) {

    label[for="select-zip"]:hover,
    .top-buttons .add:hover,
    .top-buttons .save:hover,
    .li-container .select-pic:hover,
    .li-container .arrow-group .up:not([disabled]):hover,
    .li-container .arrow-group .down:not([disabled]):hover,
    .li-container .arrow-group .delete:not([disabled]):hover {
        background-color: #ccc;
    }
}

@media (max-width: 600px) {
    body {
        padding: 8px;
        font-size: 16px;
    }

    .top-buttons {
        padding-top: 6px;
        border-top-width: 2px;
    }

    .list-container {
        padding-bottom: 6px;
    }

    .li-container {
        gap: 5px;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr 1fr;

        padding-bottom: 4px;
        border-bottom: 2px solid #ccc;
    }

    .li-container .select-pic {
        grid-row: 1 / 3;
        grid-column: 1;
        align-self: center;
    }

    .li-container .text {
        padding: 6px;

        grid-row: 1;
        grid-column: 2;
    }

    .li-container .select-group {
        grid-row: 2;
        grid-column: 2;
    }

    .li-container .arrow-group {
        grid-row: 1 / 3;
        grid-column: 3;
    }
}